html, body {
    margin: 0%;
    background-image: url("images/mapBG.png");
    background-size: cover;
}



.carousel img {
    object-fit: cover;
    object-position: center;
    height: 100vh;
    border-radius: 5%;
}

#whiteBox {
    width: 70%;
    height: 100%;
    background-color: white;
    border: solid #3E837A 8px;
    border-radius: 5%;
    padding: 10px;
}

#abril { 
    font-family: "Abril Fatface"; 
    font-size: 4vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    display: flex;
    justify-content: center;
    color: #3E837A;
    margin-top: 10px;
} 

#actor { 
    font-family: "Actor"; 
    font-size: 1.6vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    display: flex;
    justify-content: center;
    color: #3E837A;
    margin-top: 0%;
}

#rozha {
    font-family: "Rozha One";
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    color: white;
    }

.form-control:focus {
    border-color: #3E837A;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #3E837A;
}

#SignUp {
    background-color: #3E837A;
    width: 100%;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

hr {
    color: #3E837A;
    width: 80%;
    margin-left: 10%;
}


#loginLink {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#loginLink:hover {
    color: #3E837A;
}