/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
    /* margin-left: 83px; */
}

#navbar {
    background-color: #3E837A;
    width: 83px;
    height: 83px;
}

/* #white-bg {
    background-color: white;
    height: 100%; 
    width: 83px;
    position: fixed;
    z-index: 1;
} */

/* #rollwhere-logo {
    width: 83px;
    position: absolute;
    bottom: 30px;
} */

.offcanvas-header {
    background-color: #3E837A;
    color: #fff;
}

.btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

#offcanvas-photo {
    margin: auto;
    width: 50%;
    height: 100%;
    border-radius: 50%;
}

#alternate-routes-list {
    list-style-type: none;
    margin-left: 0;
}

.alternate-routes-li-item {
    margin-right: 10%;
}

#back-btn {
    border-color: #3E837A;
    color: #3E837A;
    background-color: #fff;
}

#back-btn:active {
    color: white;
    background-color: #3E837A;
}

#save-route-btn, #save-route {
    color: white;
    background-color: #3E837A;
}

#save-route-btn:active, #save-route:active {
    border-color: #3E837A;
    color: #3E837A;
    background-color: #fff;
}

/* #saved_route {
    border: #3E837A;
    color: #3E837A;
    background-color: #fff;
}

#saved_route:hover {
    background-color: #3E837A;
    color: #fff;
}

#saved_route:active {
    background-color: #3E837A;
    col
} */


#card-header {
    background-color: #3E837A;
    color: white;
}

#btn-grp {
    margin-bottom: 20px;
}

#homepage-btn {
    background-color: #3E837A;
    width: 90%;
    text-align: left;
    color: white;
}

#logout-btn {
    background-color: #F18F1C;
    width: 90%;
    text-align: left;
    color: white;
}

/* Modal css */
.modal-header {
    background-color:#3E837A;
    color: white;
    border: #3E837A;
}



#info {
    margin-left: 20px;
}

#placemarkerCheckbox{
    /* vertical-align: middle; */
    background-color: #3E837A;
    color: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Below is for user location photo */
#user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

  /* Below are some test classes for obstacle types */

  .danger {
    color: red;
    font-weight: bold;
    font-size: medium;
  }


  .pothole {
    color: blue;
    font-weight: bold;
    font-size: medium;
  }

  .monster {
    color: green;
    font-weight: bold;
    font-size: medium;
  }

  .slope {
    color: brown;
    font-weight: bold;
    font-size: medium;
  }

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 120px;
}

#origin-input:focus,
#destination-input:focus {
    border-color: #3E837A;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #3E837A;
}

#mode-selector {
    color: #fff;
    background-color: #3E837A;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}

#mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
